body {
    background-color: rgb(247, 240, 240);
  }
h2 {
    color: green;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
  }
p {
    color: grey;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
  }
  figcaption {
    font-size: 25px;
    margin-left: 2cm;
    color:rgb(50, 200, 50);
  }
  
  
